<a href="https://colab.research.google.com/github/deepavasanthkumar/spark_tips/blob/main/PySpark_SQL_String_and_Other_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=a491a455c63d7f3894fa8ec2adbecf635b2df2a4b9db069e9d24c31b3a76694c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Spark all Functions ").getOrCreate()
spark

In [3]:
spark.sql("SELECT substring_index('Spark-sql-functions-demo', '-', 2)").show(truncate=False)

+-----------------------------------------------+
|substring_index(Spark-sql-functions-demo, -, 2)|
+-----------------------------------------------+
|Spark-sql                                      |
+-----------------------------------------------+

In [4]:
spark.sql("SELECT substring_index('Spark-sql-functions-demo', '-', -2)").show(truncate=False)

+------------------------------------------------+
|substring_index(Spark-sql-functions-demo, -, -2)|
+------------------------------------------------+
|functions-demo                                  |
+------------------------------------------------+

In [5]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
data1 = [("James","","Smith","36636","M", 1000, "Sales", 2020),
    ("Michael","Rose","","40288","M", 2000, "Operations",2020),
    ("Robert","","Williams","42114","M", 3000, "Sales",2020),
    ("Maria","Anne","Jones","39192","F", 4000, "Operations",2020),
  ("Ria","Anne","Jones","60000","F", 7000, "Operations",2020)

  ]

schema1 = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True),
    StructField("annualsalary", IntegerType(), True),
    StructField("work", StringType(), True),
    StructField("year", IntegerType(), True),

  ])

df1 = spark.createDataFrame(data=data1,schema=schema1)

df1.createOrReplaceTempView("table1")

spark.sql("SELECT monotonically_increasing_id() as Id, * from table1").show(truncate=False)

+----------+---------+----------+--------+-----+------+------------+----------+----+
|Id        |firstname|middlename|lastname|id   |gender|annualsalary|work      |year|
+----------+---------+----------+--------+-----+------+------------+----------+----+
|0         |James    |          |Smith   |36636|M     |1000        |Sales     |2020|
|1         |Michael  |Rose      |        |40288|M     |2000        |Operations|2020|
|8589934592|Robert   |          |Williams|42114|M     |3000        |Sales     |2020|
|8589934593|Maria    |Anne      |Jones   |39192|F     |4000        |Operations|2020|
|8589934594|Ria      |Anne      |Jones   |60000|F     |7000        |Operations|2020|
+----------+---------+----------+--------+-----+------+------------+----------+----+

In [6]:
spark.sql("SELECT replace('I do not know SQL Functions', 'do not know', 'am Expert in ')").show(truncate=False)

+----------------------------------------------------------------+
|replace(I do not know SQL Functions, do not know, am Expert in )|
+----------------------------------------------------------------+
|I am Expert in  SQL Functions                                   |
+----------------------------------------------------------------+

In [8]:
spark.sql("SELECT concat_ws(':', 'Learn', 'SQL', 'Functions')").show(truncate=False)
spark.sql("SELECT concat_ws('s')").show(truncate=False)
spark.sql("SELECT concat_ws('/', 'expr1', null, 'expr2')").show(truncate=False)
spark.sql("SELECT concat_ws(null, 'Learn', 'SQL', 'Functions')").show(truncate=False)

+-----------------------------------+
|concat_ws(:, Learn, SQL, Functions)|
+-----------------------------------+
|Learn:SQL:Functions                |
+-----------------------------------+

+------------+
|concat_ws(s)|
+------------+
|            |
+------------+

+--------------------------------+
|concat_ws(/, expr1, NULL, expr2)|
+--------------------------------+
|expr1/expr2                     |
+--------------------------------+

+--------------------------------------+
|concat_ws(NULL, Learn, SQL, Functions)|
+--------------------------------------+
|NULL                                  |
+--------------------------------------+

In [9]:
spark.sql("SELECT coalesce(NULL, 1, NULL)").show(truncate=False)
spark.sql("SELECT coalesce(NULL, NULL, 'This One')").show(truncate=False)

+-----------------------+
|coalesce(NULL, 1, NULL)|
+-----------------------+
|1                      |
+-----------------------+

+------------------------------+
|coalesce(NULL, NULL, This One)|
+------------------------------+
|This One                      |
+------------------------------+

In [15]:
spark.sql("SELECT trim('    Spark SQL Functions   ')").show(truncate=False)
spark.sql("SELECT trim(BOTH FROM '    Spark SQL Functions   ')").show(truncate=False)
spark.sql("SELECT trim(LEADING FROM '    Spark SQL Functions   ')").show(truncate=False) #ltrim
spark.sql("SELECT trim(TRAILING FROM '    Spark SQL Functions   ')").show(truncate=False) #rtrim
spark.sql("SELECT trim('SQL' FROM 'SQL Spark SQL')").show(truncate=False)
spark.sql("SELECT trim(BOTH 'SQL' FROM 'SQL Functions DemoSQLs')").show(truncate=False)
spark.sql("SELECT trim(LEADING 'SL' FROM 'SQLSparkSQLS')").show(truncate=False)
spark.sql("SELECT trim(TRAILING 'SQL' FROM 'SQLSparkSQLS')").show(truncate=False)

+--------------------------------+
|trim(    Spark SQL Functions   )|
+--------------------------------+
|Spark SQL Functions             |
+--------------------------------+

+--------------------------------+
|trim(    Spark SQL Functions   )|
+--------------------------------+
|Spark SQL Functions             |
+--------------------------------+

+---------------------------------+
|ltrim(    Spark SQL Functions   )|
+---------------------------------+
|Spark SQL Functions              |
+---------------------------------+

+---------------------------------+
|rtrim(    Spark SQL Functions   )|
+---------------------------------+
|    Spark SQL Functions          |
+---------------------------------+

+---------------------------------+
|TRIM(BOTH SQL FROM SQL Spark SQL)|
+---------------------------------+
| Spark                           |
+---------------------------------+

+------------------------------------------+
|TRIM(BOTH SQL FROM SQL Functions DemoSQLs)|
+------------------------------------------+
| Functions DemoSQLs                       |
+------------------------------------------+

+----------------------------------+
|TRIM(LEADING SL FROM SQLSparkSQLS)|
+----------------------------------+
|QLSparkSQLS                       |
+----------------------------------+

+------------------------------------+
|TRIM(TRAILING SQL FROM SQLSparkSQLS)|
+------------------------------------+
|SQLSpark                            |
+------------------------------------+

In [18]:
spark.sql("SELECT java_method('java.util.UUID', 'randomUUID')").show(truncate=False)
spark.sql("SELECT java_method('java.util.UUID', 'fromString', 'a5cf6c42-0c85-418f-af6c-3e4e5b1328f2')").show(truncate=False)

spark.sql("SELECT java_method('java.util.Currency', 'getAvailableCurrencies')").show(truncate=False)

+---------------------------------------+
|java_method(java.util.UUID, randomUUID)|
+---------------------------------------+
|72cc9304-c136-4278-9c64-17f139e05120   |
+---------------------------------------+

+-----------------------------------------------------------------------------+
|java_method(java.util.UUID, fromString, a5cf6c42-0c85-418f-af6c-3e4e5b1328f2)|
+-----------------------------------------------------------------------------+
|a5cf6c42-0c85-418f-af6c-3e4e5b1328f2                                         |
+-----------------------------------------------------------------------------+

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|java_method(java.util.Currency, getAvailableCurrencies)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[AYM, GWP, GYD, DKK, ERN, MZN, NGN, BGL, GHS, MRO, BWP, BGN, CRC, BYN, SGD, ITL, AWG, DZD, NIO, BMD, XTS, HTG, PTE, MYR, CYP, FRF, SLE, BYB, RSD, SZL, MGF, NOK, GIP, IRR, SSP, DJF, SDG, CHW, SDD, MNT, MKD, ROL, CDF, GNF, GRD, LVL, MDL, ZMW, BIF, BND, SIT, XUA, BOV, FJD, CNY, ZMK, BYR, ESP, XFU, LBP, RUB, SRD, HUF, AMD, FKP, VEF, INR, LAK, NAD, AZN, JOD, MWK, AFA, MZM, PYG, XXX, MGA, THB, LYD, SCR, EEK, BBD, UGX, ANG, YER, ETB, ISK, ADP, XBA, TWD, XAG, MAD, GTQ, BEF, WST, XAF, HRK, UYU, DEM, CHF, DOP, AUD, AFN, XPD, KES, RON, GMD, TTD, FIM, KHR, STN, VEB, USD, RUR, PKR, CHE, ZWR, XCD, ATS, RWF, USS, UZS, ZWD, QAR, VND, JPY, UYI, KGS, CSD, STD, KWD, LKR, MMK, HNL, XOF, KYD, BOB, SYP, VUV, LUF, IDR, TMM, KZT, JMD, XBD, TRL, EGP, HKD, ZWN, BTN, EUR, UAH, COP, TJS, MXV, MUR, KRW, CUP, USN, TMT, AZM, SRG, ARS, KMF, CZK, TND, SBD, OMR, BZD, XDR, XPT, MOP, MVR, AED, SOS, LTL, CAD, ZAR, CVE, GEL, COU, PGK, AOA, ZWL, SAR, BRL, XBB, IQD, GBP, TZS, TOP, YUM, BSD, NPR, VES, SLL, SKK, XFO, XBC, SHP, XAU, LSL, MRU, BDT, SEK, PEN, KPW, BAM, GHC, PLN, NZD, VED, IEP, MTL, XSU, PAB, NLG, ILS, SVC, ALL, BHD, CUC, TPE, LRD, PHP, XPF, MXN, CLP, TRY, CLF]|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [22]:
spark.sql("SELECT 1 < 2").show(truncate=False)
spark.sql("SELECT 1.1 < '1'").show(truncate=False)
spark.sql("SELECT to_date('2009-07-30 04:17:52') < to_date('2009-07-30 04:17:52')").show(truncate=False)
spark.sql("SELECT to_date('2009-07-30 04:17:52') < to_date('2009-08-01 04:17:52')").show(truncate=False)
spark.sql("SELECT 1 < NULL").show(truncate=False)
spark.sql("SELECT 2 <= 2").show(truncate=False)
spark.sql("SELECT 1.0 <= '1'").show(truncate=False)
spark.sql("SELECT to_date('2009-07-30 04:17:52') <= to_date('2009-07-30 04:17:52')").show(truncate=False)
spark.sql("SELECT to_date('2009-07-30 04:17:52') <= to_date('2009-08-01 04:17:52')").show(truncate=False)
spark.sql("SELECT 1 <= NULL").show(truncate=False)
spark.sql("SELECT 2 <=> 2").show(truncate=False)
spark.sql("SELECT 1 <=> '1'").show(truncate=False)
spark.sql("SELECT true <=> NULL").show(truncate=False)
spark.sql("SELECT NULL <=> NULL").show(truncate=False)
spark.sql("SELECT 2 = 2").show(truncate=False)
spark.sql("SELECT 1 = '1'").show(truncate=False)
spark.sql("SELECT true = NULL").show(truncate=False)
spark.sql("SELECT NULL = NULL").show(truncate=False)
spark.sql("SELECT 2 == 2").show(truncate=False)
spark.sql("SELECT 1 == '1'").show(truncate=False)
spark.sql("SELECT true == NULL").show(truncate=False)
spark.sql("SELECT NULL == NULL").show(truncate=False)

+-------+
|(1 < 2)|
+-------+
|true   |
+-------+

+---------+
|(1.1 < 1)|
+---------+
|false    |
+---------+

+-------------------------------------------------------------+
|(to_date(2009-07-30 04:17:52) < to_date(2009-07-30 04:17:52))|
+-------------------------------------------------------------+
|false                                                        |
+-------------------------------------------------------------+

+-------------------------------------------------------------+
|(to_date(2009-07-30 04:17:52) < to_date(2009-08-01 04:17:52))|
+-------------------------------------------------------------+
|true                                                         |
+-------------------------------------------------------------+

+----------+
|(1 < NULL)|
+----------+
|NULL      |
+----------+

+--------+
|(2 <= 2)|
+--------+
|true    |
+--------+

+----------+
|(1.0 <= 1)|
+----------+
|true      |
+----------+

+--------------------------------------------------------------+
|(to_date(2009-07-30 04:17:52) <= to_date(2009-07-30 04:17:52))|
+--------------------------------------------------------------+
|true                                                          |
+--------------------------------------------------------------+

+--------------------------------------------------------------+
|(to_date(2009-07-30 04:17:52) <= to_date(2009-08-01 04:17:52))|
+--------------------------------------------------------------+
|true                                                          |
+--------------------------------------------------------------+

+-----------+
|(1 <= NULL)|
+-----------+
|NULL       |
+-----------+

+---------+
|(2 <=> 2)|
+---------+
|true     |
+---------+

+---------+
|(1 <=> 1)|
+---------+
|true     |
+---------+

+---------------+
|(true <=> NULL)|
+---------------+
|false          |
+---------------+

+---------------+
|(NULL <=> NULL)|
+---------------+
|true           |
+---------------+

+-------+
|(2 = 2)|
+-------+
|true   |
+-------+

+-------+
|(1 = 1)|
+-------+
|true   |
+-------+

+-------------+
|(true = NULL)|
+-------------+
|NULL         |
+-------------+

+-------------+
|(NULL = NULL)|
+-------------+
|NULL         |
+-------------+

+-------+
|(2 = 2)|
+-------+
|true   |
+-------+

+-------+
|(1 = 1)|
+-------+
|true   |
+-------+

+-------------+
|(true = NULL)|
+-------------+
|NULL         |
+-------------+

+-------------+
|(NULL = NULL)|
+-------------+
|NULL         |
+-------------+

In [21]:
spark.sql("SELECT ! true").show(truncate=False)
spark.sql("SELECT ! false").show(truncate=False)
spark.sql("SELECT ! NULL").show(truncate=False)

+----------+
|(NOT true)|
+----------+
|false     |
+----------+

+-----------+
|(NOT false)|
+-----------+
|true       |
+-----------+

+----------+
|(NOT NULL)|
+----------+
|NULL      |
+----------+

In [27]:
spark.sql("SELECT typeof(1)").show(truncate=False)
spark.sql("SELECT typeof(array(1))").show(truncate=False)
spark.sql("SELECT typeof('1')").show(truncate=False)
spark.sql("SELECT typeof(11.44)").show(truncate=False)

+---------+
|typeof(1)|
+---------+
|int      |
+---------+

+----------------+
|typeof(array(1))|
+----------------+
|array<int>      |
+----------------+

+---------+
|typeof(1)|
+---------+
|string   |
+---------+

+-------------+
|typeof(11.44)|
+-------------+
|decimal(4,2) |
+-------------+

In [30]:
spark.sql("SELECT CASE WHEN 1 < 0 THEN 'One' WHEN 2 > 0 THEN 'Two' ELSE '3' END").show(truncate=False)

+-----------------------------------------------------------+
|CASE WHEN (1 < 0) THEN One WHEN (2 > 0) THEN Two ELSE 3 END|
+-----------------------------------------------------------+
|Two                                                        |
+-----------------------------------------------------------+

In [35]:
spark.sql("SELECT split('LearnSparkSQLHere', '[e]')").show(truncate=False)
spark.sql("SELECT split('LearnSparkSQLHere', '[ek]', -1)").show(truncate=False)
spark.sql("SELECT split('LearnSparkSQLHere', '[e]', 2)").show(truncate=False)

+---------------------------------+
|split(LearnSparkSQLHere, [e], -1)|
+---------------------------------+
|[L, arnSparkSQLH, r, ]           |
+---------------------------------+

+----------------------------------+
|split(LearnSparkSQLHere, [ek], -1)|
+----------------------------------+
|[L, arnSpar, SQLH, r, ]           |
+----------------------------------+

+--------------------------------+
|split(LearnSparkSQLHere, [e], 2)|
+--------------------------------+
|[L, arnSparkSQLHere]            |
+--------------------------------+

In [40]:
spark.sql("SELECT mask('ABCD-abcd-123-@$#', 'Q', 'q', 'd', 'o')").show(truncate=False)

+-----------------------------------+
|mask(ABCD-abcd-123-@$#, Q, q, d, o)|
+-----------------------------------+
|QQQQoqqqqodddoooo                  |
+-----------------------------------+

In [3]:
spark.sql("SELECT a, window.start as start, window.end as end, window_time(window), cnt FROM (SELECT a, window, count(*) as cnt FROM VALUES ('A1', '2021-01-01 00:00:00'), ('A1', '2021-01-01 00:04:30'), ('A1', '2021-01-01 00:06:00'), ('A2', '2021-01-01 00:01:00') AS tab(a, b) GROUP by a, window(b, '5 minutes') ORDER BY a, window.start)").show(truncate=False)

+---+-------------------+-------------------+--------------------------+---+
|a  |start              |end                |window_time(window)       |cnt|
+---+-------------------+-------------------+--------------------------+---+
|A1 |2021-01-01 00:00:00|2021-01-01 00:05:00|2021-01-01 00:04:59.999999|2  |
|A1 |2021-01-01 00:05:00|2021-01-01 00:10:00|2021-01-01 00:09:59.999999|1  |
|A2 |2021-01-01 00:00:00|2021-01-01 00:05:00|2021-01-01 00:04:59.999999|1  |
+---+-------------------+-------------------+--------------------------+---+

In [36]:
spark.sql("SELECT nvl(NULL, 'FirstOneNull')").show(truncate=False)
spark.sql("SELECT nvl2(NULL, 2, 1)").show(truncate=False)

+-----------------------+
|nvl(NULL, FirstOneNull)|
+-----------------------+
|FirstOneNull           |
+-----------------------+

+----------------+
|nvl2(NULL, 2, 1)|
+----------------+
|1               |
+----------------+

In [31]:
spark.sql("SELECT uuid()").show(truncate=False)

+------------------------------------+
|uuid()                              |
+------------------------------------+
|d84f98bb-f7d6-44de-871a-7d17972e9cfe|
+------------------------------------+

In [7]:
spark.sql("SELECT to_number('454', '999')").show(truncate=False)
spark.sql("SELECT to_number('454.00', '000.00')").show(truncate=False)
spark.sql("SELECT to_number('12,454', '99,999')").show(truncate=False)
spark.sql("SELECT to_number('$78.12', '$99.99')").show(truncate=False)
spark.sql("SELECT to_number('12,454.8-', '99,999.9S')").show(truncate=False)

+-------------------+
|to_number(454, 999)|
+-------------------+
|454                |
+-------------------+

+-------------------------+
|to_number(454.00, 000.00)|
+-------------------------+
|454.00                   |
+-------------------------+

+-------------------------+
|to_number(12,454, 99,999)|
+-------------------------+
|12454                    |
+-------------------------+

+-------------------------+
|to_number($78.12, $99.99)|
+-------------------------+
|78.12                    |
+-------------------------+

+-------------------------------+
|to_number(12,454.8-, 99,999.9S)|
+-------------------------------+
|-12454.8                       |
+-------------------------------+